@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Mono|Roboto|Source+Sans+Pro|Work+Sans:300');
/*
===============
External fonts:
	
	font-family: 'Open Sans', sans-serif; 		// 
	
*	font-family: 'Roboto', sans-serif; 			// dobra za navaden text, zgleda lepse kot Helvetica
	
*	font-family: 'Source Sans Pro', sans-serif; // podobna kot Roboto, bolj stylish, a malo tezje berljiva
	
	font-family: 'PT Mono', monospace; 			// monospace font - rabimo za login, namesto Courierja
	
*	font-family: 'Work Sans', sans-serif; 		// zelo tanka pisava, primerna za citate ipd.
	
POMEMBNO!!!
Ce rabimo sumnike za kaksnen font, al pa bold/italic style, je treba dodat! (odpri nov issue na githubu)

Use fonte, ki jih uporabljamo, oznaci z zvezdico
Neuporabljene fonte v produkciji odstranimo.

Predlog: fonte, kot so PT Mono lahko includamo samo na login strani za tutorje


=============
Barvna shema:
	lightgreen
	green
	darkgreen
	#003300 // mal temnejsa kot darkgreen, isti odtenek
	lightyellow
	yellow
	gold
	white
	
	#001f5b temno modra
	#0098fc mal bl svetlo modra
	#000e4a se mal bl temno modra
	#085afb relativno svetla modra
	
	#ff0000 rdeca
	
*/


/************************************************************************************************************************************************/
/* PISAVE */
/************************************************************************************************************************************************/

/* NASLOVI IN NAVIGACIJA */
h1, h2, h3, h4, h5, h6 { /* vsi naslovi so Trebuchet MS */
	font-family: Trebuchet MS; /* Yon je pravi fanboy tega fonta */
}
nav {
	font-family: Trebuchet MS; /* poskusimo se kaj drugega? */
}

/* VSEBINA */
p {
	font-family: 'Roboto', Helvetica;
}



/************************************************************************************************************************************************/
/* BARVE */
/************************************************************************************************************************************************/

/*****************/
/* GLAVNI NASLOV */
/*****************/
#title {
	background: #0098fc;
}
h1 {
	color: #000e4a; /* mal temnejsa kot #001f5b*/
}


/**************/
/* NAVIGACIJA */
/**************/
nav {
	background: #001f5b;
}
nav a {
    color: 	white;
}
/*Obarvanje linkov v navigaciji*/
nav a:hover {
    background: white;
    color: #001f5b;
}
/*Obarvanje linka trenutne strani v navigaciji*/
nav a.selected {
	background: white;
    color: #001f5b;
}

/*Telo*/
body {
	/* glavni gradient ob straneh */
	background: linear-gradient(to right, #085afb, white 14%, white 86%, #085afb 100%);
}

h2 { /* section titles */
	color: #001f5b;
	border-bottom-color: #001f5b;
}

article {
	background: linear-gradient(to right, yellow, white);
	border-left-color: #ff0000;
}


/************************************************************************************************************************************************/
/* STRUKTURA STRANI */
/************************************************************************************************************************************************/

/*****************/
/* GLAVNI NASLOV */
/*****************/
#title {
	margin: 0;
	padding: 0.5em;
	font-size: 2em;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}



/**************/
/* NAVIGACIJA */
/**************/
nav {
	overflow: hidden;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 20px;
	z-index: 1;
}

/* Posamezen element navigacije */
nav a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
nav a.left {
	float: left;
}
nav a.right {
	float: right;
}



/***************/
/* GLAVNO TELO */
/***************/
body {
	margin: 0px;
	padding-bottom: 6em; /* footer space */
}

div.telo {
	margin-left: 15%; /* margini ob straneh za gradient*/
	margin-right: 15%;
}



/**********************/
/* NASLOVI IN VSEBINA */
/**********************/
p { /* main text */
	text-align: justify;
}
h2 { /* section title */
	border-bottom-style: solid;
	border-bottom-width: 2px;
	font-size: 2em;
}



