/* font-awesome je dodan v htmlju, HelveticaNeue in OpenSans pa spodaj */
/*@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');*/
/*@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue%7COpen+Sans:800');*/



/*  Bil je en mejhn problem s CORS headerji na fonts.google.com, zato smo font stylesheet skopiral sem  */
/* to ni treba skrbet, sam pust te fonte tuki pr miru */
@font-face { /* latin-ext (sumniki) */
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS1exCsfw&skey=4ad46dd97873f7d7&v=v8) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face { /* latin */
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/l/font?kit=jAnfgHBgCsv4eNLTaMECf8DQsNS7exA&skey=4ad46dd97873f7d7&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face { /* latin-ext (sumniki) */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face { /* latin */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
===============
External fonts:

	font-family: 'Helvetica Neue', Helvetica;
	font-family: 'Trebuchet MS', Helvetica; (NI DODAN! ker je od microsofta in je copyrighted. Racunam na to, da ga racunalniki ze majo)
	font-family: 'Open Sans', 'Trebuchet MS', Helvetica;

*/

body {
	margin: 0; /* spletna stran sega od roba do roba */
	background-color: white; /* belo ozadje */
	font-family: 'Helvetica Neue', Helvetica, Sans-serif; /* glavni font je Helvetica Neue */
}
a {
	text-decoration: none; /* linki naj niso podcrtani */
}
a:hover {
	text-decoration: underline; /* ce damo misko na link, naj bo podcrtan */
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Trebuchet MS', Sans-serif; /* glavni font za naslove */
}

.fas, .fa {
	cursor: default; /* font-awesome ikone so naceloma text, ampak nocem text-cursorja */
}
a .fas, a .fa {
	cursor: pointer; /* vseeno pa hocem pointer cursor na ikonah v linkih */
}




/* header je celoten zgornji del (logo + navigacija)*/
header {
	display: flex; /* flex container - notranjost se avotmatsko prilagaja */
}
.spacer { /* element, ki ga uporabljamo za poravnavo na sredino */
	flex: 1;
}
nav {
	font-family: 'Open Sans', 'Trebuchet MS', Helvetica, Sans-serif;
	display: flex; /* elementi naj se prilagajajo (so enako veliki) */
	flex-direction: column; /* elementi se vrstijo gor-dol - formacija [spacer, navigacija, spacer] vertikalno poravna linke na sredino */
}
nav ul {
	padding: 0; /* nocemo paddinga (po defaultu ga je malo na levi, kjer naj bi bile pikice, ker je to seznam) */
	margin: 1em; /* odrine 1em prostora v vse smeri */

	display: flex; /* elementi naj prilagodijo sirino, da so enaki */
	flex-wrap: wrap; /* ce zmanjka prostora, grejo lahko v novo vrstico */
	justify-content: right; /* poravnani so na desno (ne deluje v nekaterih brskalnikih)*/
}
nav ul li {
	display: inline; /* po defaultu so vsak v svoji vrstici, mi hocemo da so vsi v eni */
	margin: 0.5em; /* malo prostora v vse smeri */
}
nav a {
	color: rgba(0,0,0,0.6); /* barva texta v navigaciji (nekoliko transparentno crna - zgleda sivo ker je na belem ozadju) */
	margin: 0.5em;
}
nav a:hover {
	color: black; /* barva je cisto crna ce damo gor misko */
	text-decoration: none; /* prej smo napisal da se linki podcrtajo ce damo gor misko, ampak te se ne smejo */
	border-bottom: 1px dashed black; /* namesto da jih podcrtamo, jim damo dashed border-bottom (zgleda lepse) */
}



/* quick section - glavni naslov, short description in gumb za hitro prijavo */
#quick {
	text-align: center; /* vse v quick sectionu je na sredini */
	margin: auto 2em; /* levo-desno je margin auto, gor-dol je margin 2em */
}
#title { /* glavni naslov (Tutorstvo GL) */
	font-size: 3em; /* veeeelik font */
}
#description { /* kratek opis tutorstva, kuj pod naslovom */
	color: rgba(0,0,0,0.6); /* ista barva kot v navigaciji - nekoliko transparentno crna, ki zgleda sivo zaradi belega ozadja */
	font-family: 'Trebuchet MS', Sans-serif; /* Trebuchet font */

	margin-bottom: 2em; /* malce prostora za dihat */
}
#signup { /* gumb za hitro prijavo */
	background-color: #FB5B6C; /* desaturirana magenta iz ledinskega logotipa */
	border-radius: 1.3em; /* zaobljeni robobi */
	color: white; /* bel text */
	padding: 0.7em 1.5em; /* prostor za dihat */

	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px; /* zaradi vecjega presledka med crkami zgleda font vecji, ceprav v resnici ni */
	text-transform: uppercase; /* velike crke */

	box-shadow: 2px 2px gray; /* 3D efekt, zato da element izgleda bolj kot dejanski gumb */
	position: relative; /* premaknemo ga 2px gor-desno, zato ker je senca 2px dol-levo, pristane na prvotni poziciji */
	top: -2px;
	left: -2px;
}
#signup:hover { /* miska na gumbu */
	filter: brightness(90%); /* malo potemnimo barvo */
	box-shadow: 3px 3px gray; /* senca se poveca */
	top: -3px; /* element pa moramo premakniti bolj gor-desno, da senca ostane na prvotnem mestu (dvigne se gumb, ne spusca se senca) */
	left: -3px;
}
#signup:active { /* gumb pritisnjen */
	filter: brightness(90%); /* potemnitev */
	box-shadow: none; /* brez sence */
	top: 0px; /* gumb pa je tam, kjer je bila senca - zgleda popolnoma pritisnjen dol */
	left: 0px;
}


/* en glavni div, notri je vse, kar je nizje od quick sectiona */
main {
	padding-top: 4em; /* plac za dihat */
}


#stats { /* statistika - "Prednosti tutorstva" + floating box na desni */
	display: flex; /* oba elementa sta enako siroka */
	flex-direction: row; /* se vrstita od leve proti desni namesto en pod drugim */
	padding: 2em; /* prostor, ki ju odmika od roba ekrana */
}

article {
	margin-right: 2em;
}
h3.article.title {
	font-size: 2em;
}
table.features {
	margin-bottom: 2em;
}
table.features tr {
	margin-bottom: 0.5em;
}
table.features i {
	font-size: 2.5em;
	color: lightblue;
	margin-right: 16px;
}


/* aside je floating box na desni */
aside h3 { /* naslov: "ne verjamete? poglejte statistiko" */
	margin: 0;
	font-size: 1.2em;
}
aside .floaty {
	min-width: 40%; /* najmanj 40% sirine ekrana */
	box-shadow: -5px 2px 10px lightgray; /* 3D floating effect */
	padding: 2em; /* prostor med borderjem in notranjim textom */
	border-radius: 5px; /* cist mal zaobljeni robovi */
}
@media screen and (max-width: 1000px) { /* ce je ekran ozji od 1000px, naj veljajo naslednja pravila: */
    #stats {
        flex-direction: column; /* elementa v stats sectionu naj si sledita gor-dol (aside naj pade pod "prednosti tutorstva") */
    }
}

/* trenutno edina svg elemnta sta trikotnika pri rumeni locilni crti */
svg {
	display: block; /* naj rezervira celotno vrstico zase */
	width: 100%; /* cez celo sirino */
	height: 50px;
}
svg.top { /* zgornji trikotnik */
	fill: LemonChiffon;
	background: white;
	stroke: LemonChiffon;
}
svg.bottom { /* spodnji trikotnik */
	fill: white;
	background: LemonChiffon;
	stroke: white;
}
.quoteShow { /* prostor, kamor grejo citati (trenutno prazen)*/
	background-color: LemonChiffon;
	color: white; /* bel text */
	width: 100%;
	padding: 2em;
	box-sizing: border-box; /* nimam pojma, sam ne spreminjat */
}


/* PROBLEM: dolgi citati premikajo vsebino pod njimi gor in dol, nemogoce je brati FAQ. */
/* dokler problem ni resen, smo odstranili quote section, pustili le rumeno crto (iz stilisticnih razlogov) */
/*
.quote { / * posamezen citat v .quoteShow * /
	font-family: 'Helvetica Neue', Helvetica;
	font-weight: bold;
	font-size: 2em;
	color: #FCCA1C;/ *rgba(0,0,0,0.5);* /
	/ *text-shadow: 1px 1px 1px rgba(0,0,0,0.4);* /
	/ *text-shadow: 1px 1px 1px black;* /
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	animation: fadein 1.5s;
	word-wrap: break-word; / * predolge besede nikakor ne smejo cez rob ekrana * /
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}
.quote .author { / * avtor citata * /
	display: block;
	text-align: right;
}
.quote .author:before { / * psevdoelement pred avtorjem * /
	content: '-'; / * naj se napise "-Anonymous, 3.g" namesto "Anonymous, 3.g" (dodana crtica) * /
}
.quote img.round { / * slika avtorja citata * /
	border-radius: 100%; / * okrogla * /
	height: 3em;
	margin-right: 1em;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.4); / * cisto malo 3D * /
}
.quote button { / * gumbi za premikanje citatov * /
	transition: background-color 0.1s ease-out;
	height: 3em;
	width: 2em;
	vertical-align: center;
	background-color: transparent;
	color: black;
	border: none;
	border-radius: 10%;
	margin: auto 2em;
	font-size: 0.5em;
}
.quoteShow:hover button {
	background-color: rgba(0,0,0,0.2);
}
.quoteShow:hover button:hover {
	color: white;
	background-color: rgba(0,0,0,0.7);
}
*/



#faq {
	padding: 0 2em; /*  gor-dol 0  *  levo-desno 2em  */
}
summary { /* vprasanje v FAQ */
	font-weight: bold;
	font-size: 1.3em;
}
details p { /* odgovor v FAQ */
	margin-left: 1.5em; /* zamaknjen v desno */
	margin-top: 0;
}
summary:hover { /* ko das misko na vprasanje */
	cursor: pointer; /* miska nakaze da lahko kliknemo */
}
summary:focus {
	outline: none; /* nocm grdih okvirckov k so tam po defaultu */
}


/* footer */
#footer { /* kje nas najdete */
	background-color: LemonChiffon;
	padding: 2em;
	padding-top: 1em;
	margin-top: 4em;
	border-top: dashed 3px gold; /* meja med footerjem in vsebino */
}
#signature { /* "Stran so postavili tutorji GL" */
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 3em;
}
