/************************************************************************************************************************************************/
/*Tutorstvo na GL + h1*/
/************************************************************************************************************************************************/

.tutorstvo {
	margin-left: auto;
	margin-right: auto;
}
h1 {
	text-align: center;
	font-family: Papyrus, helvetica; /*Dano samo za preizkušnjo*/
}

/************************************************************************************************************************************************/
/*Navigacija*/
/************************************************************************************************************************************************/

nav{
	overflow: hidden;
	background: black;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial;
	font-size: 20px;
	z-index: 1;
}

/*Posamezen element navigacije*/
nav a {
    float: left;
    display: block;
    color: 	white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/*Obarvanje linkov v navigaciji*/
nav a:hover {
    background: white;
    color: black;
}

/*Obarvanje linka trenutne strani v navigaciji*/
nav a.trenutno {
	background: white;
    color: black;
}

/************************************************************************************************************************************************/
/*Telo in divi*/
/************************************************************************************************************************************************/

body {
	margin: 0px;
	background: linear-gradient(to right, black, white 14%, white 86%, black 100%);
}

div.telo {
	margin-left: 15%;
	margin-right: 15%;
}

/************************************************************************************************************************************************/
/*Naslovi in text*/
/************************************************************************************************************************************************/

p {
	text-align: justify;
	font-family: Trebuchet MS;
}

h2 {
	font-family: Trebuchet MS;
	border-bottom: black solid 2px;
}

/************************************************************************************************************************************************/
/*Slike*/
/************************************************************************************************************************************************/

#slikca {
	width: 40%;
	float: right;
}