/************************************************************************************************************************************************/
/* Title */
/************************************************************************************************************************************************/

#title {
	background: lightgreen;
	margin: 0;
	padding: 0.5em;
	font-size: 2em;
}
h1 {
	text-align: center;
	font-family: Trebuchet MS, helvetica; /*Dano samo za preizkušnjo*/
	text-transform: uppercase;
	color: #003300; /* mal temnejsa kot darkgreen, isti odtenek */
}

/************************************************************************************************************************************************/
/* Navigacija */
/************************************************************************************************************************************************/

nav {
	overflow: hidden;
	background: darkgreen;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial;
	font-size: 20px;
	z-index: 1;
}

/*Posamezen element navigacije*/
nav a {
    float: left;
    display: block;
    color: 	white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

/*Obarvanje linkov v navigaciji*/
nav a:hover {
    background: white;
    color: black;
}

/*Obarvanje linka trenutne strani v navigaciji*/
nav a.selected {
	background: white;
    color: black;
}

/************************************************************************************************************************************************/
/*Telo in divi*/
/************************************************************************************************************************************************/

body {
	margin: 0px;
	padding-bottom: 6em;
	
	/* glavni gradient ob straneh */
	background: linear-gradient(to right, green, white 14%, white 86%, green 100%);
}

div.telo {
	margin-left: 15%;
	margin-right: 15%;
}

/************************************************************************************************************************************************/
/*Naslovi in text*/
/************************************************************************************************************************************************/

p {
	text-align: justify;
	font-family: Trebuchet MS;
}

h2 {
	color: darkgreen;
	font-family: Trebuchet MS;
	border-bottom: darkgreen solid 2px;
	font-size: 2em;
}

article {
	background: linear-gradient(to right, yellow, white);
	border-left: solid 0.5em gold;
	padding: 0.3em 1em;
}


/************************************************************************************************************************************************/
/*Slike*/
/************************************************************************************************************************************************/

#skupinska {
	width: 40%;
	float: right;
}