


html {
	height: 100%;
}
body {
	background: aliceblue;
	height: 100%;
	font-family: sans-serif;
}
#box {
	background: lightYellow;

	margin-left: auto;
	margin-right: auto;
	width: 350px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	box-shadow: 0 0 5px black;
}
section {
	display: flex;
	flex-direction: column;
}

#title {
	background-color: #4285f4;
	padding: 0.7em 2em;
}
#data {
	padding: 2em 4em;
}

h1 {
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	font-size: 1.7em;
	padding: 1em 0;
	border: 2px dotted white;
	border-style: dashed none;
	color: white;
	text-shadow: 1px 1px black;
}
input {
	margin-top: 2em;
	font-size: 1em;
	outline: none; !important

	border: none;
	border-style: none none dotted none;
	border-color: gray;
	border-width: 3px;
	transition: border 0.3s ease;

	background-color: transparent;

	padding: 0.2em 0.5em;
}
input:hover {
	border-color: black;
}
input:focus {
	border-color: darkcyan;
}

label {
	margin-left: 0.2em;
	color: gray;
	position: relative;
	top: -1.6em;
	transition: top 0.5s;
	cursor: text;
}

#username:focus ~ #userLabel, #username:not(:placeholder-shown) ~ #userLabel {
	top: -3.5em;
}
#username:focus ~ #userLabel {
	color: darkcyan;
}
#password:focus ~ #passLabel, #password:not(:placeholder-shown) ~ #passLabel {
	top: -3.5em;
}
#password:focus ~ #passLabel {
	color: darkcyan;
}


button {
	transition: background-color 0.1s;
	background-color: #4285f4;
	border: none;
	margin-top: 16px;
	height: 50px;
	font-size: 1.3em;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	box-shadow: 0 0 3px black;
	border-radius: 3px;
	outline: none; !important
}
button:hover {
	box-shadow: 0 0 10px black;
	padding: 0;
}
button:active {
	box-shadow: 0 0 10px black inset;
	background-color: #2a56c6;
	padding: 0;
}
