/***************/
/* PROFILE BOX */
/***************/
#profile {
	background-color: lightyellow;
	width: 80%;
	max-width: 50em;
	margin: 0 auto;
	display: flex;
	padding: 2em;
	box-shadow: 0px 0px 20px lightblue;
}



/******************************/
/* FACE IMAGE */
#face {
	flex: 1;
	width: 100%;
}

#image {
	width: 30%;
}

/* PERONAL INFORMATION TABLE */
#data {
	flex: 1;
	padding: 1em 1em 1em 2em;
}

/* "EDIT" SECTION */
#edit {
	padding: 1em 1em 1em 2em;
	border-left: dashed lightBlue;
	display: flex;
	flex-direction: column; /* elementi se vrstijo navzdol */
}
#edit i {
	flex: 1;
}

/********************************************************************************************************/
body {
	margin: 20px 0 0 0;
	background: linear-gradient(to right, lightBlue, aliceBlue 14%, aliceBlue 86%, lightBlue 100%);
	font-family: 'Helvetica Neue', Helvetica, Sans-serif;
}

h2 {
	font-family: 'Trebuchet MS', Sans-serif;
	border-bottom: solid 2px; /* TODO: dodaj primerno barvo */
	padding-bottom: 5px;
	font-size: 2em;
}




#novice {
	width: 80%;
	max-width: 50em;
	margin: 0 auto;
	padding: 2em;
}


article h3 {
	font-size: 1.6em;
	font-family: 'Trebuchet MS', Sans-serif;
	border-left: solid 3px black;
	padding-left: 1em;
}

article p {
	display: flex;
	padding: 2em;
	border-left: solid 3px black;
}

.novica h3, .novica p {
	border-color: yellow;
}
.novica p {
	background: linear-gradient(to right, lightYellow, aliceBlue);
}

.oglas h3, .oglas p {
	border-color: blue;
}
.oglas p {
	background: linear-gradient(to right, lightBlue, aliceBlue);
}

.nujno h3, .nujno p {
	border-color: red;
}
.nujno p {
	background: linear-gradient(to right, #FB5B6C, aliceBlue);
}





.mobile {
	display: hidden; /* skrij vse elemente, ekskluzivne mobilni strani*/
}

/* PRAVILA ZA OZKE EKRANE */
@media screen and (max-width: 1000px) { /* ce je ekran ozji od 1000px, naj veljajo naslednja pravila: */
	.desktop {
		display: none; /* skrij vse elemente, ki so samo na desktop strani */
	}
	.mobile {
		display: initial; /* pokazi elemente, ki so samo za mobilno stran */
	}

	body {
		background: aliceBlue;
		margin: 0;
		padding: 2em;
	}

	/* ponastavi vse vrednosti */
	#profile, #novice {
		width: initial;
		max-width: initial;
		margin: initial;
	}


	#profile {
		flex-direction: column; /* elementi se vrstijo navzdol */
	}
	#profile div { /* vsi <div> elementi znotraj #profile */
		margin: 0 auto; /* poravnaj na sredino */
	}
	#face {
		border-radius: 100%; /* slika je okrogla */
	}
	#edit {
		flex-direction: row;
		flex-wrap: wrap; /* ce zmanjka prostora lahko gres v novo vrstico */
		border-left: none; /* odstranimo levi border */
		border-top: dashed lightBlue; /* isti border naj bo na vrhu */
	}
	#edit i {
		margin: 0.5em 1em;
		display: inline-block;
	}

	#novice {
		padding: 0;
	}

}
