@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue|Sans');


@font-face {
	/* To je naceloma font k ga je treba placat, ampak sm ga ukradu iz ledina.si */
	/*   v tem fontu so simboli, uporabljen je v login obrazcu levo od username in password polja */
	font-family: "IcoMoon";
	font-style: normal;
	font-weight: normal;
	src: url("media/fonts/IcoMoon.woff") format("woff"), url("media/fonts/IcoMoon.ttf") format("truetype");
}
/*
===============
External fonts:
	
	font-family: 'Helvetica Neue', Helvetica;
	
	font-family: 'Sans', Sans-serif;

	font-family: 'IcoMoon';

Vsi fonti so ukradeni iz ledina.si


=============
Barvna shema:
	#0088cc --blue // zgornji border, barva linkov, background color selected linka in Login gumba
	#002b41 --link-hover // barva linkov ko so :hover
	#f5f5f5 --ultra-svetlo-siva // background-color aside contenta, crte pod h3 v aside
	#eee --svetlo-siva // background-color navigacije ko je :hover
	#ccc --temno-siva // borderji okrog aside contenta in login inputov
	
	TODO: tukaj dodaj *vse* barve, ki jih uporabis na spletni strani
	
*/
:root {
	/* nastavljanje spremenljivk */
	--blue: #0088cc;
	--link-hover: #002b41;
	--ultra-svetlo-siva: #f5f5f5;
	--svetlo-siva: #eee;
	--temno-siva: #ccc;
}


body {
	margin: 0; /* normalizaijca */
	padding: 20px;
	
	border-top: solid 5px var(--blue); /* zgornji border */
	font-family: "Helvetica Neue", Helvetica; /* glavni typeface */
}
a {
	text-decoration: none; /* fuj */
	color: var(--blue);
}
a:hover {
	color: var(--link-hover);
	text-decoration: underline;
}



/**************/
/* NAVIGACIJA */
/**************/
nav  {
	border: solid 1px lightgray;
	border-style: solid none solid none; /* border samo zgoraj in spodaj */
	
	padding: 1em;
}
nav a {
	padding: 0.5em 1em;
	border-radius: 5px;
}
nav a:hover {
	background-color: var(--svetlo-siva);
	text-decoration: none;
}
nav a.selected {
	background-color: var(--blue);
	color: white;
}


hr {
	border: none;
	background-image: url(https://www.ledina.si/images/headers/blue_line_thin.png);
	height: 3px;
	background-repeat: no-repeat;
}


h3.article a {
	font-family: "Sans", Sans-Serif;
	font-weight: bold;
	font-size: 22px;
	margin-top: 0.5em;
}



#content {
	width: 75%;
}
aside {
	float: right;
	width: 25%;
}
.well {
	background-color: var(--ultra-svetlo-siva);
	border: 1px solid var(--temno-siva);
	border-radius: 4px;
	padding: 1em;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.well h3 {
	margin: 0;
	border-bottom: 1px solid var(--svetlo-siva);
}




.formInput {
	height: 2em;
	display: flex;
	margin: 0.5em;
	
}

input[type="text"], input[type="password"] {
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	
	border: 1px solid var(--temno-siva);
	border-radius: 0 3px 3px 0;
	border-style: solid solid solid none;
	
	width: 75%;
	flex: 1;
	padding: 0 0.5em;
}
span#userIcon, span#passIcon {
	font-family: 'IcoMoon';
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	line-height: 200%;
	padding: 0 0.5em;
	
	border: 1px solid var(--temno-siva);
	border-radius: 3px 0 0 3px;
}


button {
	background-color: var(--blue);
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.5em 0.7em;
	color: white;
	margin: 0.5em;
}
