/*
Barve
	ozadje: lightBlue
	okvirček: lightYellow

*/
html {
	height: 100%;
}
body {
	background: lightBlue;
	height: 100%;
	font-family: sans-serif;
}
#box {
	background: lightYellow;

	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 700px;
	min-width: 300px;
	padding: 60px;

	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: Trebuchet MS, Sans-serif;
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 1.5em;
	padding: 1em 0;
	border: 2px dotted black;
	border-style: dashed none;
}
input {
	margin-top: 2em;
	font-size: 1em;
	outline: none; !important /* !important pomeni da to velja ne glede na stanje (:hover :active :focus ...)*/

	border: none;
	border-style: none none dotted none;
	border-color: gray;
	border-width: 3px;
	transition: border 0.3s ease;

	background-color: transparent;

	padding: 0.2em 0.5em;
}
input:hover {
	border-color: black;
}
input:focus {
	border-color: darkcyan;
}

label {
	margin-left: 0.2em;
	color: gray;
	position: relative;
	top: -1.6em;
	transition: top 0.5s;
	cursor: text;
}

#username:focus ~ #userLabel, #username:not(:placeholder-shown) ~ #userLabel {
	top: -3.5em;
}
#username:focus ~ #userLabel {
	color: darkcyan;
}
#password:focus ~ #passLabel, #password:not(:placeholder-shown) ~ #passLabel {
	top: -3.5em;
}
#password:focus ~ #passLabel {
	color: darkcyan;
}
