/*
Barve
	ozadje: lightBlue
	okvirček: lightYellow

*/
html {
	height: 100%;
}
body {
	background: lightBlue;
	height: 100%;
}
#box {
	background: lightYellow;

	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 700px;
	min-width: 300px;
	padding: 60px;

	display: flex;
	flex-direction: column;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: Trebuchet MS, Sans-serif;
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 1.5em;
	padding: 1em 0;
	border: 2px dotted black;
	border-style: dashed none;
}
input {
	margin: 1em 0;
	font-size: 1em;
	outline: none; !important /* !important pomeni da to velja ne glede na stanje (:hover :active :focus ...)*/
	transition: border-color 20s ease;
	padding: 0.2em 0.5em;

	border: 1px solid lightgray;
	border-radius: 2px;

}
input:hover {
	border-color: darkgray;
}
input:focus {
	border-color: gray;
}
