@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Mono|Roboto|Source+Sans+Pro|Work+Sans:300');
/*
===============
External fonts:
	
	font-family: 'Open Sans', sans-serif; 		// 
	
	font-family: 'Roboto', sans-serif; 			// dobra za navaden text, zgleda lepse kot Helvetica
	
	font-family: 'Source Sans Pro', sans-serif; // podobna kot Roboto, bolj stylish, a malo tezje berljiva
	
	font-family: 'PT Mono', monospace; 			// monospace font - rabimo za login, namesto Courierja
	
	font-family: 'Work Sans', sans-serif; 		// zelo tanka pisava, primerna za citate ipd.
	
POMEMBNO!!!
Ce rabimo posebne zname za kaksnen font, al pa bold/italic style, je treba dodat! (odpri nov issue na githubu)

Use fonte, ki jih uporabljamo, oznaci z zvezdico
Neuporabljene fonte v produkciji odstranimo.

Predlog: fonte, kot so PT Mono lahko includamo samo na login strani za tutorje


=============
Barvna shema:
	#f4858e // rdeca
	#bfe2ca // zelena
	#a6daef // modra
	#d0e2ec // siva
	#fed88f // oranzna
	#ffffff // bela
	snow
	
	tukaj dodaj *vse* barve, ki jih uporabis na spletni strani
	
*/
:root {
	--rdeca: #f4858e;
	--zelena: #bfe2ca;
	--modra: #a6daef;
	--siva: #d0e2ec;
	--oranzna: #fed88f;
}


body {
	height: 100%;
	margin: 0;
	padding: 2em 0;
	font-family: 'Roboto';
	
	border-left: 1em solid var(--rdeca);
	background-color: snow;
}

#title {
	background-color: var(--rdeca);
	padding: 1em;
	width: 30%;
	color: white;
}

#body {
	display: flex;
	flex-direction: row-reverse;
}


#content {
	padding: 1em;
}


h2 {
	color: var(--rdeca);
	border-bottom: solid 2px var(--rdeca);
}

