@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Mono|Roboto|Source+Sans+Pro|Work+Sans:300');
/*
===============
External fonts:
	
	font-family: 'Open Sans', sans-serif; 		// 
	
	font-family: 'Roboto', sans-serif; 			// dobra za navaden text, zgleda lepse kot Helvetica
	
	font-family: 'Source Sans Pro', sans-serif; // podobna kot Roboto, bolj stylish, a malo tezje berljiva
	
	font-family: 'PT Mono', monospace; 			// monospace font - rabimo za login, namesto Courierja
	
	font-family: 'Work Sans', sans-serif; 		// zelo tanka pisava, primerna za citate ipd.
	
POMEMBNO!!!
Ce rabimo posebne zname za kaksnen font, al pa bold/italic style, je treba dodat! (odpri nov issue na githubu)

Use fonte, ki jih uporabljamo, oznaci z zvezdico
Neuporabljene fonte v produkciji odstranimo.

Predlog: fonte, kot so PT Mono lahko includamo samo na login strani za tutorje


=============
Barvna shema:
	#f4858e // rdeca
	#bfe2ca // zelena
	#a6daef // modra
	#d0e2ec // siva
	#fed88f // oranzna
	#ffffff // bela
	snow
	
	tukaj dodaj *vse* barve, ki jih uporabis na spletni strani
	
*/
:root {
	--rdeca: #f4858e;
	--zelena: #bfe2ca;
	--modra: #a6daef;
	--siva: #d0e2ec;
	--oranzna: #fed88f;
}


body {
	height: 100%;
	margin: 0;
	padding: 2em 0;
	font-family: 'Roboto';
	
	border-left: 1em solid var(--rdeca);
	background-color: snow;
}

#title {
	background-color: var(--rdeca);
	padding: 1.5em 1em;
	font-size: 1.5em;
	width: 30%;
	min-width: 400px;
	color: white;
	text-align: right;
}


nav#glassy {
	min-width: 10em;
	margin-right: 2em;
	padding: 1em;
	position: sticky;
	top: 1em;
	
	background-color: rgba(170,93,99,0.1);
	border: 1px solid var(--rdeca);
	border-radius: 5px;
	filter: drop-shadow(10px 10px 2px rgba(170,93,99, .4));
}
nav#glassy a {
	display: block;
	margin-top: 0.5em;
	text-decoration: none;
	font-family: 'Righteous';
	text-transform: uppercase;
	color: var(--rdeca);
	transition: transform .1s ease-out, text-shadow .1s ease-out;
	text-shadow: 1px 1px 0 rgba(0,0,0,.6);
}
nav#glassy a:hover {
	transition: transform .1s ease-out, text-shadow .1s ease-out;
	transform: translate(-5px, -5px);
	text-shadow: 5px 5px 2px rgba(0,0,0,.7), 1px 1px 0 rgba(0,0,0,.6);
}
nav#glassy a:first-child {
	margin: 0;
}





nav#blocky a {
	display: block;
	margin-top: 1em;
	background-color: var(--rdeca);
	color: white;
	width: 15%;
	text-decoration: none;
	padding: 0.5em;
	text-align: right;
	transition: width .1s ease-out;
}
nav#blocky a:hover {
	width: 20%;
}


#body {
	display: flex;
	flex-direction: row-reverse;
}


#content {
	padding: 1em;
}
h2 {
	color: var(--rdeca);
	border-bottom: solid 4px var(--rdeca);
	font-size: 2em;
}




hr {
	border-top-style: none;
	border-bottom: 1px solid lightgray;
}
article.novica {
	padding: 1em 0.5em 0 0.5em; 
}
.novica.date {
	color: lightgray;
	font-family: 'Source Sans Pro';
	font-weight: bold;
}
.novica.title {
	font-family: 'Work Sans';
	font-size: 1.7em;
	margin: 0.5em 0;
	color: var(--rdeca);
}
/* psevdoelement pred novica:avtorjem */
.novica.author:before {
	content: "Avtor: "; /* tega se naceloma ne dela ampak Yon bo verjetno rabu za backend*/
}



