@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Helvetica+Neue');
/*

POMEMBNO!!!
Ce rabimo posebne zname za kaksnen font, al pa bold/italic style, je treba dodat! (odpri nov issue na githubu)

Use fonte, ki jih uporabljamo, oznaci z zvezdico
Neuporabljene fonte v produkciji odstranimo.

Predlog: fonte, kot so PT Mono lahko includamo samo na login strani za tutorje


=============
Barvna shema:
	--light-blue #74b9ff;
	--dark-blue #0984e3;
	
	--bright-yellow #ffeaa7;
	--dark-yellow #fdcb6e;
	
	https://flatuicolors.com/palette/us
	TODO: tukaj dodaj *vse* barve, ki jih uporabis na spletni strani
	
*/
:root {
	--light-blue: #74b9ff;
	--dark-blue: #0984e3;
	--bright-yellow: #ffeaa7;
	--dark-yellow: #fdcb6e;
}

#pallete { /* zgornji border z barvno paleto */
	background-image: url("media/palette.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 0.5em;
}
body {
	height: 100%;
	background-color: var(--light-blue);
	margin: 0;
	color: white; /* all text is white by default */
	font-family: "Helvetica Neue", Helvetica;
}



a {
	color: white; /* tuki je treba posebi nastavt barvo */
	text-decoration: none; /* fuj */
}
a:hover {
	text-decoration: underline;
}



#header {
	display: flex;
	padding-top: 2em;
}
#title {
	margin-bottom: 1em;
}
h1, h2 {
	margin: 0 2em;
	
	font-family: Trebuchet MS;
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
#navigation {
	flex: 1;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	
	width: 100%;
}
nav a {
	text-align: center;
	
	font-family: Trebuchet MS;
	text-transform: uppercase;
	
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	
	padding: 0.5em 1em;
	
}
nav ul {
	padding: 0;
	padding-right: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
}
nav ul li {
	display: inline;
	margin: 1em 0.5em;
}
nav a:hover {
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
}


#quote {
	text-align: center;
	font-family: "Berkshire Swash";
	font-size: 1.5em;
	color: rgba(255,255,255,0.6);
	margin-top: 1em;
}






#content {
	padding: 2em;
}
h3 {
	font-family: Trebuchet MS;
}
