<!DOCTYPE html>
<html>
	<head>
		<title>Tutorstvo GL - Prijava</title>
		<meta charset="UTF-8">
		<meta name="description" content="Uradna stran Tutorstva na GL">
		<meta name="keywords" content="Ledina, Tutorji, najjaci">
		<meta name="author" content="Yon Ploj, plojyon, BKING">
		<meta name="viewpoint" content="width=device-vidth,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../global.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div id="title">
			<h1>Tutorstvo Ledina</h1>
		</div>
		<nav id="menu">
			<a id="gumb" class="selected" href="index.html"><i class="fa fa-home"><!--to je character z hisico--></i></a>
			<a href="https://www.ledina.si/" target="_blank">GL</a><!-- se odpre v novem zavihku -->
		</nav>
		<div class="telo">
			Placeholder text<br>
			Tukaj je prijavnica za nove tutorje.
		</div>
	</body>
</html>